.main{
    width: 90%;
    margin: auto;
    padding-top: 7%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
  }
  
  .foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    width: 26%;
  }
  
  .foto .profpic{
    border-radius: 50%;
    width: 100%;
  }
  
  .infos{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .infos a{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: #f8f8f2;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    
  }
  
  .infos a:hover{
    color: #6272a4;
  }

  .infos a img{
    max-height: 40px;
    max-width: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-right: 8px;
  }
  
  .presentation{
    width: 59%;
    padding: 4%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f8f8f2;
    font-size: 2.5em;
    text-align: justify !important;
    text-justify: distribute;
    background: linear-gradient(#44475a,#282a36);
    border-radius: 15px;
  }
  
  .presentation p{
    margin: 0;
  }
  
@media (max-width:1000px) {
    .main{
      width: 100%;
      margin: 0%;
      flex-direction: column;
      align-items: center;
    }

    .foto{
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 12%;
    }

    .foto .profpic{
      width: 40%;
    }

    .infos a{
      font-size: 1.5em;
    }

    .infos a img{
      max-height: 20px;
      max-width: 20px;
    }

    .presentation{
      width: 90%;
    }
}