
.cert{
    width: 60%;
}

.cert img{
    width: 100%;
    max-height: 600px;
    border-radius: 4px;
    object-fit: cover;
    object-position: top;
}

.cert-infos{
    height: 100%;
    width: 40%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.cert-infos h1{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cert-infos h2{
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .cert{
        width: 100%;
    }
    .cert img{
        height: 320px;
        object-fit: cover;
    }
    .cert-infos{
        height: 50%;
        width: 90%;
    }

    .cert-infos h1{
        height: 10%;
    }

    .cert-infos h2{
        height: 80%;
    }
}