*{
    padding: 0;
    margin: 0;

}

.header{
    width: 100%;
    height: 100px;
    background-color: #bd93f9;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.item{
    text-decoration: none;
    font-size: 40px;
    width: 33.33%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #dddae5;
    font-weight: bold;
}

.item:hover{
    transition: 0.7s;
    background-color: #dddae5;
    color: #bd93f9;
}