body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #30323e;
  font-family: 'Courier New', Courier, monospace;
}

.main{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.foto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.foto img{
  border-radius: 50%;
  width: 350px;
}

.infos{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.infos a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #dddae5;
  font-weight: bold;
  font-size: 22px;
}

.infos a img{
  max-height: 40px;
  max-width: 40px;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-right: 8px;
}

.presentation{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dddae5;
  font-size: 32px;
}

.presentation p{
  margin: 0;
}
